* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c0ce94d;

    .form {
        width: 80%;
        display: flex;
        margin: 0px auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);

        &-image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fde3a7d7;
            padding: 1rem;

            img {
                width: 31rem;
            }
        }

        &-content {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #fff;
            padding: 3rem;

            &-header {
                margin-bottom: 3rem;
                display: flex;
                justify-content: space-between;

                &-button {
                    display: flex;
                    align-items: center;

                    button {
                        border: none;
                        background-color: #6c63ff;
                        padding: 0.4rem 1rem;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: #6b63fff1;
                        }

                        a {
                            text-decoration: none;
                            font-weight: 500;
                            color: #fff;
                        }
                    }
                }

                h1::after {
                    content: "";
                    display: block;
                    width: 5rem;
                    height: 0.3rem;
                    background-color: #6c63ff;
                    margin: 0px auto;
                    position: absolute;
                    border-radius: 10px;
                }
            }

            &-input {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 1rem 0px;

                &-box {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1.1rem;

                    & input {
                        margin: 0.6rem 0px;
                        padding: 0.8rem 1.2rem;
                        border: none;
                        border-radius: 10px;
                        box-shadow: 1px 1px 6px #0000001c;

                        &:hover {
                            background-color: #eeeeee75;
                        }

                        &:focus-visible {
                            outline: 1px solid #6c63ff;
                        }

                        &::placeholder {
                            color: #000000be;
                        }
                    }


                    & label {
                        font-size: 0.75rem;
                        font-weight: 600;
                        color: #000000c0;
                    }
                }
            }

            &-gender-input {
                &-title h6 {
                    font-size: 0.75rem;
                    font-weight: 600;
                    color: #000000c0;
                }

                &-group {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0.62rem;
                    padding: 0px 0.5rem;

                    &-input {
                        display: flex;
                        align-items: center;

                        & input {
                            margin-right: 0.35rem;
                        }

                        & label {
                            font-size: 0.81rem;
                            font-weight: 600;
                            color: #000000c0;
                        }
                    }
                }
            }

            &-continue-button {
                & button {
                    width: 100%;
                    margin-top: 2.5rem;
                    border: none;
                    background-color: #6c63ff;
                    padding: 0.62rem;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #6b63fff1;
                    }

                    & a {
                        text-decoration: none;
                        font-size: 0.93rem;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        .form {
            width: 90%;

            &-image {
                display: none;
            }

            &-content {
                width: 100%;

                &-input {
                    flex-direction: column;
                    overflow-y: scroll;
                    flex-wrap: nowrap;
                    max-height: 10rem;
                    padding-right: 5rem;
                }

                &-gender-input {
                    margin-top: 2rem;

                    &-group {
                        flex-direction: column;

                        &-input {
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        .form {
            width: 80%;

            &-image {
                display: none;
            }

            &-content {
                width: 100%;
            }
        }
    }
}